{% extends 'base.html' %}
{% block contact %}active{% endblock %}


{% block primary %}

	<div class="row">
		<div class="span8 offset1">
			<h2>Contact Us</h2> 
			<p>If you are interested in learning more about this project, please contact either</p>
			<ul>
				<li>Jeong-Mo Choi (jeongmochoi [AT] fas.harvard.edu) in the <a href="http://www.chem.harvard.edu/groups/shakhnovich/">Shakhnovich Group</a> of the Department of Chemisty and Chemical Biology at Harvard University or</li>
				<li>Dennis Lucarelli (Dennis.Lucarelli [AT] jhuapl.edu) at the <a href="http://www.jhuapl.edu/">Johns Hopkins University Applied Physics Laboratory.</a></li>
			</ul>
		</div>
	</div>

{% endblock %}