{% extends 'base.html' %}
{% load staticfiles %}


{% block search %}active{% endblock %}


{% block primary %}

				<div class="row" id = "search">
					<div class="span10 offset1">
						<h2>Search the Database for a Precomputed Score</h2>
						<div id="dynamic"></div>
						<div class="spacer"></div>
					</div>
				</div>	
	
{% endblock %}


{% block javascript %}


<script type="text/javascript" src="{% static 'js/jquery.dataTables.js' %}"></script>
<script type="text/javascript" src="{% static 'media/js/ZeroClipboard.js' %}"></script>
<script type="text/javascript" src="{% static 'media/js/TableTools.js' %}"></script>

<script type="text/javascript">

$(document).ready(function() {
	$('#dynamic').html( '<table cellpadding="0" cellspacing="0" border="0" class="display" id="example"></table>' );
	$('#example').dataTable( {
		"sDom": 'T<"clear">lfrtip',	  			
		//"aaData": aDataSet,
		"oTableTools": {
			"sSwfPath": "{% static 'media/swf/copy_csv_xls.swf' %}",
			"aButtons": [ "copy", "csv" ,"print" ]
	},
		"aoColumns": [
		{ "sTitle": "PDB" , "sClass": "center"},
		{ "sTitle": "Interface" , "sClass": "center"},
		{ "sTitle": "&Delta;G {Estimated}", "sClass": "center" }
		],
		"bProcessing": true,
		"sAjaxSource" : "/css0/get_table_data",
	} );	
});

</script>
	
{% endblock %}