{% extends 'base.html' %}
{% block upload %}active{% endblock %}

{% block primary %}

	<div class="row">
		<div class="span10 offset1">
			<h2>Upload PDB to Compute Predicted Binding Energy</h2>
			<p>We have previously computed binding energies for numerous protein-protein interactions that are stored in our database and accessible via the <a href="/css0/search/">search here.</a></p>
			<p> If you would like to compute the estimated &Delta;G for a PPI not found in our database, please upload the PDB below.</p>
			<div class="alert">
				<strong><p>Note:</p>
				<ul>
					<li>Uploaded PDB must contain only two chains.</li>
					<li>Calculation may take up to a minute, please do not refresh the page until results are shown.</li>
				</ul>
				</strong>
			</div>	
			<!-- List of uploaded documents -->
			

			<!-- Upload form. Note enctype attribute! -->
			<form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
				<p>{{ form.non_field_errors }}</p>
				<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
				<p>
					{{ form.docfile.errors }}
					{{ form.docfile }}
				</p>
				<p><input class="btn btn-large btn-primary" type="submit" value="Upload" /></p>
			</form>

			{% if error_message %}
			<div class="alert alert-error">
				<h2>Error!</h2>
				<p> {{ error_message }} </p>

			</div>
			{% endif %}

			{% if scores %}
			<div class="alert alert-success">
				<h2>Your PDB was successfully uploaded.</h2>
				<p>The computed results are below:</p>
				{% for s in scores %}
				<ul>
					<li>Name = {{ s.name}}</li>
					<li>Interface = {{ s.interface }}</li>
					<li>Score = <strong>{{ s.score }}</strong></li>
				</ul>
				{% endfor %}
			</div>

			{% endif %}


		</div>
	</div>

{% endblock %}