<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <title>Page unavailable</title>
</head>
<body>
    <h1>Page Unavailable</h1>
    <h1>Bad Things!</h1>
    <p>Oh noes! This is embarassing, but we tripped up and our server is having some issues.</p>
    
    <p>We promise that a very long email has been sent to our system administrators with a lot of code-type stuff in it, and we're going to fix things up right away!</p>

</body>
</html>