<script type="text/javascript">

$(document).ready(function() {
	$('#dynamic').html( '<table cellpadding="0" cellspacing="0" border="0" class="display" id="example"></table>' );
	$('#example').dataTable( {
		"sDom": 'T<"clear">lfrtip',	  			
		//"aaData": aDataSet,
		"oTableTools": {
		"sSwfPath": "{% static "media/swf/copy_csv_xls.swf" %}"
	},
		"aoColumns": [
		{ "sTitle": "PDB" , "sClass": "center"},
		{ "sTitle": "Interface" , "sClass": "center"},
		{ "sTitle": "&Delta;G {Estimated}", "sClass": "center" }
		],
		"bProcessing": true,
		"sAjaxSource" : "/css0/get_table_data",
	} );	
});

</script>